<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer and Company Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <style>
        #customers {
          font-family: Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #customers td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #04AA6D;
          color: white;
        }
        </style>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-end mb-5">
            <i class="bi bi-list" style='font-size:40px;'></i>
        </div>

        <div class="row" style="margin-top: 20px;text-align:center">
                <div class="col-6">
                    <h1>Customer : บุคคล</h1>
                </div>
                <div class="col-6">
                   <button><a href="add_cp/">Add</a></button>
                </div>
        </div>

        <div class="row" style="justify-content: center;">
            <div class="card" style="width:auto ; height: auto; background-color: rgb(238, 237, 237);">
                    <div class="row">
                        <div class="col-6" style="margin-top: 20px;">
                            <input placeholder="ชื่อ" style="width: 300px;border-radius: 25px;border: 2px;" class="mt-0">
                        </div>
                         <div class="col-6" style="margin-top: 20px;">
                        <input placeholder="นามสกุล" style="width: 300px;border-radius: 25px;border: 2px;" class="mt-0">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px;">
                        <div class="col-6">
                            <input placeholder="ชื่อเล่น" style="width: 300px;border-radius: 25px;border: 2px;" class="mt-0">
                        </div>
                        <div class="col-6">
                            <input type="submit" value="search" style="opacity:1; background-color:aqua;border-radius: 12px;">
                        </div>
                    </div>

                    <div class="card" style="width:auto;height:auto;; background-color: rgb(255, 255, 255);">
                        <table id="customers" style="text-align:center">
                            {% for x in customer_p|slice:":5" %}
                            <tr>
                            <th style="text-align:center">ชื่อเล่น</th>
                            <th style="text-align:center">เบอร์โทร</th>
                            <th style="text-align:center">เอกสาร</th>
                            </tr>
                            <tr>
                            <td><a href="inside_per/{{ x.email }}">{{ x.nickname }}</a></td>
                            <td>{{ x.tel }}</td>
                            <td>{{ x.email }}</td>
                            </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;text-align:center">
            <div class="col-6">
                <h1>Customer : องค์กร</h1>
            </div>
            <div class="col-6">
                <button><a href="add_co/">Add</a></button>
            </div>
            <div class="row" style="justify-content: center;">
            <div class="card" style="width:auto ; height: auto; background-color: rgb(238, 237, 237);">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-6">
                            <input placeholder="ชื่อ" style="width: 300px;border-radius: 25px;border: 2px;" class="mt-0">
                        </div>
                        <div class="col-6">
                            <input type="submit" value="search" style="opacity:1; background-color:aqua;margin-left: 50px;border-radius: 12px;">
                        </div>
                    </div>

                    <div class="card" style="width:auto;height:auto;; background-color: rgb(255, 255, 255);">
                        <table id="customers" style="text-align:center">
                            <tr>
                            <th style="text-align:center">ชื่อบริษัท</th>
                            <th style="text-align:center">เอกสาร</th>
                            </tr>
                            {% for x in customer_o|slice:":5" %}
                            <tr>
                                <td><a href="inside_org/{{ x.name }}">{{ x.name }}</a></td>
                                <td>{{ x.taxpayer_num }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>

