<h1>Customer</h1>

<h2>Personal</h2>

<table border="1">
{% for x in customer_p|slice:":5" %}
<tr>
<td><a href="inside_per/{{ x.email }}">edit</a></td>
    <td>{{ x.nickname }}</td>
    <td>{{ x.email }}</td>
    <td>{{ x.tel }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>


<h2>Organization</h2>
<table border="1">
{% for x in customer_o|slice:":5" %}
<tr>
<td><a href="inside_org/{{ x.name }}">edit</a></td>
<td>{{ x.name }}</td>
<td>{{ x.taxpayer_num }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>

<p>
<a href="add_cp/">Add Customer Personal</a>
</p>
<p>
<a href="add_co/">Add Customer Organization</a>
</p>