<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>document</title>
</head>
<h2>Type: Organization</h2>
<p>ชื่อบริษัท : {{ customer_o.name }}</p>
<p>เลขผู้เสียภาษี : {{ customer_o.taxpayer_num }} {{ supplier_p.surname }}</p>
<p>ทุนจดทะเบียน : {{ customer_o.registered_capital }}</p>
<p>เบอร์โทรติดต่อ : {{ customer_o.tel }}</p>
<p>อีเมลล์ : {{ customer_o.email }}</p>
<p>address : {{ customer_o.address }}</p>
<br>
{% for x in doc_per %}
<tr>
<td></td>
    <br>
    <td>{{ x.doc_name }}</td>
    <td><img src="/media/{{ x.path }}" alt="connect" style="max-height:150px"></td><br>
<td></td>
</tr>
{% endfor %}
<br>
<form method = "post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form.as_p }}
<button type="submit">Upload</button>
</form>