<h1>Supplier</h1>

<h2>Personal</h2>
<p>
<a href="add_sp/">Add Personal Supplier</a>
</p>
<table border="1">
{% for x in supplier_p|slice:":5" %}
<tr>
<td><a href="inside_per/{{ x.id }}">edit</a></td>
    <td>{{ x.nickname }}</td>
    <td>{{ x.email }}</td>
    <td>{{ x.tel }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>


<h2>Organization</h2>
<p>
<a href="add_so/">Add Organization Supplier</a>
</p>
<table border="1">
{% for x in supplier_o|slice:":5" %}
<tr>
<td><a href="inside_org/{{ x.id }}">edit</a></td>
<td>{{ x.name }}</td>
<td>{{ x.taxpayer_num }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>

